
<title>Crave - Great, healthy food</title>
  </head>
  
  <body>
    <div id="page-wrapper">
      <div id="absolute-wrapper">
        <div class="image image-1">
          <div class="rectangle rectangle-1 rectangle-3 rectangle-4 rectangle-5 rectangle-6"></div>
          <a class="dom-link dom-link-1" href="#">Sign up for Crave</a>
          <a class="dom-link dom-link-2" href="#">Contact</a>
          <div class="paragraph paragraph-1 paragraph-11">
            <p>|</p>
          </div>
          <div class="rectangle rectangle-2">
            <div class="dom-body-text paragraph">
              <p>Delivering Healthy Food From Local Restaurants On Demand</p>
            </div>


      <%= form_for @user do |f| %>
      
      <%= f.text_field :postcode, :class => 'textinput textinput-2' %>
      <%= f.text_field :email, :class => 'textinput textinput-1' %>
      
  
      <div class="form-actions">
    <%= f.submit "Sign Up", :class => 'btn'%>
                        <% end %>
    </div>



          </div>
        </div>
        <h2 class="heading heading-1 heading-3">Too busy to cook?&nbsp;</h2>
        <div class="dom-body-text paragraph paragraph-2 paragraph-6">
          <p>You're busy and enjoy good food.&nbsp;Long days at work mean less time for cooking. Why bother? Prioritise your life without compromising on health.</p>
        </div>
        <div class="rectangle rectangle-3 rectangle-4 rectangle-7 rectangle-9">
          <h2 class="heading heading-1">Find the perfect meal</h2>
          <div class="dom-body-text paragraph paragraph-2">
            <p>It doesn't matter whether you're a herbivore, an omnivore or carnivore...we've got you covered! Simply find the meals that match your needs.</p>
          </div>
        </div>
        <div class="image image-2">
        <%= image_tag "empty-iphone.png" %>
      </div>
        <div class="rectangle rectangle-7 rectangle-8 rectangle-10">
          <div class="image">
          <%= image_tag "diet-small.png" %>
          </div>
         </div>
        <div class="rectangle rectangle-6 rectangle-7 rectangle-8">
                    <h2 class="heading heading-1">Eat healthy, at ease!</h2>
                    <div class="image">
                    <%= image_tag "steelhead.jpg" %>
                    </div>
                    <div class="dom-body-text paragraph paragraph-2">
                          <p>Easy doesn't have to be junk food. At Crave we curate the healthiest and tastiest meals from local restaurants. Order-in, put your feet up and prepare to be delighted! We're launching soon.</p>
                          <p>Sign up now and be the first to try Crave!</p>
                          </div>



        </div>

              
<div class="last part">

<h2 class="heading heading-1 heading-4">Quick, healthy meals in minutes</h2>
<i class="icon icon-pencil"></i>

<i class="icon icon-truck"></i>

<i class="icon icon-star"></i>

        <h2 class="heading heading-2 heading-5">Same day ordering</h2>
        <div class="dom-body-text paragraph paragraph-2 paragraph-3 paragraph-4 paragraph-7">
          <p>Enjoy delectable meals for a healthy lifestyle without all the fuss and hard work.</p>
        </div>
        <h2 class="heading heading-2 heading-6">Cravelicious</h2>
        <div class="dom-body-text paragraph paragraph-2 paragraph-3 paragraph-4 paragraph-8">
          <p>Your food is delivered when&nbsp; and where you want it, whether it's at home or at work!</p>
        </div>
        <h2 class="heading heading-2 heading-7">Convenient Delivery</h2>
        <div class="dom-body-text paragraph paragraph-2 paragraph-3 paragraph-4 paragraph-5">
          <p>Order from a selection of fresh meals prepared by the best restaurants daily.</p>
        </div>

      </div>

        <div class="rectangle rectangle-4 rectangle-5 rectangle-6 rectangle-7">
          <h2 class="heading heading-1">Eager to try Crave right away?</h2>
          <div class="dom-body-text paragraph paragraph-2 paragraph-3">
            <p>We are currently testing our service with a select group of customers in Edinburgh. If you would like to be a part of this group and help us in testing out our&nbsp;service before launch, please Register for a trial.</p>
          </div>
          <button class="btn"><strong>REGISTER FOR TRIAL &gt;&gt;</strong>
          </button>
        </div>
        <div class="dom-body-text paragraph paragraph-2 paragraph-9">
          <p>@eatcrave</p>
        </div>
        <div class="image image-3">
          <%= image_tag "crave-mini.png" %>
          </div>

        <i class="icon icon-twitter"></i>

        <div class="dom-body-text paragraph paragraph-2 paragraph-5 paragraph-10">
          <p>Great food delivered.</p>
        </div>
        <div class="paragraph paragraph-11 paragraph-12 paragraph-14">
          <p>|</p>
        </div>
        <a class="dom-link dom-link-3 dom-link-4 dom-link-5 dom-link-6" href="#">About</a>
        <div class="paragraph paragraph-11 paragraph-12 paragraph-13 paragraph-15">
          <p>|</p>
        </div>
        <a class="dom-link dom-link-3 dom-link-5 dom-link-7" href="#">Privacy &amp; Terms</a>
        <div class="paragraph paragraph-11 paragraph-12 paragraph-13 paragraph-16">
          <p>|</p>
        </div>
        <a class="dom-link dom-link-3 dom-link-8" href="#">For Restaurants</a>
        <a class="dom-link dom-link-3 dom-link-4 dom-link-9" href="#">Contact</a>
      </div>
    </div>
  </body>

</html>