<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @restaurant.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @restaurant.email %>
</p>

<p>
  <b>Message:</b>
  <%= @restaurant.message %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
